* {
    margin: 0;
    padding: 0;
}

/* J'experimentais avec :root mais finalement je ne m'en suis pas trop servis*/
:root {
    --color-1: #284a79;
    --text-color: white;
    --text-color_2: black;
    --accent-color: grey;
}

/* linear gradient pour le body */
body{
   background: linear-gradient(to top, rgba(29, 79, 154, 0.2),#284a79 ); 
  

}

/* class global */
.global {
    max-width: 1100px;
    width: 100%;
    margin: 50px auto 0;
    height: 100vh;
    font: italic 1.2rem "Fira Sans", serif;
    background-color: rgb(202, 195, 195);;
    border-radius: 30px;
    border: 8px solid black;
    box-shadow: 3px 3px 3px 3px black;
}

/* adaptabilité */
@media(max-width:1105px){

.global {
    max-width: 1100px;
    width: 90%;
    margin: 50px auto 0;
    height: 100vh;
    background-color: rgb(202, 195, 195);;
    border-radius: 30px;
    border: 3px solid black;
    box-shadow: 3px 3px 3px 3px black;
}
}
